<TABLE WIDTH=800 CELLPADDING=4 CELLSPACING=0 BORDER=1>
<TR>
    <TD ALIGN=left>
    <B><FONT SIZE=+1 COLOR=red>Attention:</FONT> I have [+ $contract_form{'count'} +]
    bug(s) that are marked as contract priority.
    Take me to this [+ $contract_form{'link'} +] list</A>.</B>
    </TD>
</TR>
</TABLE>

