<TABLE WIDTH=800 CELLPADDING=2 CELLSPACING=0 ALIGN=center>
    <TR>
        <TD WIDTH="70%">
                <TABLE CELLPADDING=3 CELLSPACING=0 BORDER=1 WIDTH="100%" HEIGHT="100%">
                <TR BGCOLOR="#BFBFBF">
                        <TH ALIGN=left><B>Bug Options</B></TH>
                </TR><TR BGCOLOR="#ECECEC">
                        <TD ALIGN=left>
                <A HREF="query.cgi">Query existing bug reports</A><BR>
                <A HREF="enter_bug.cgi">Enter a new bug report</A><BR>
                <A HREF="reports.cgi">Get summary reports</A><BR>
                        </TD>
                </TABLE>
                <P>
                <TABLE CELLPADDING=3 CELLSPACING=0 BORDER=1 WIDTH="100%">
                <TR BGCOLOR="#BFBFBF">
            <TH ALIGN=left><B>Member Options</B></TH>
        </TR><TR BGCOLOR="#ECECEC">
            <TD ALIGN=left>
                <A HREF="createaccount.cgi">Open a new Bugzilla account</A><BR>
                <A HREF="relogin.cgi">Forget the currently stored login</A><BR>
                <A HREF="changepassword.cgi">Change password or user preferences</A><BR>
                        </TD>
                </TR>
                </TABLE>
                <P>
                <TABLE CELLPADDING=5 CELLSPACING=0 BORDER=1 WIDTH="100%" HEIGHT="100%">
                <TR BGCOLOR="#ECECEC">
                        <TD ALIGN=left>
                        Statistics for this web-site can be found <A HREF="/webalizer/">here</A>.
                        </TD>
                </TR>
                </TABLE>
        </TD>
        <TD ALIGN=right WIDTH="30%">
        <img align=right width=329 height=220 src="images/ant.jpg" border=2>
        </TD>
    </TR>
</TABLE>

<P>
<TABLE WIDTH=800 BORDER=0 CELLPADDING=2 CELLSPACING=0 ALIGN=center>
<TR BGCOLOR="#BFBFBF">
        <TD ALIGN=left><B>Tools Provided By</B></TD>
</TR><TR BGCOLOR="#FFFFFF">
        <TD ALIGN=center>
        <TABLE BORDER=0 WIDTH=100% CELLPADDING=3 CELLSPACING=0>
        <TR>
                <TD ALIGN=center><A HREF="http://www.apache.org"><IMG SRC="images/apache_pb.gif" BORDER=0></A></TD>
                <TD ALIGN=center><A HREF="http://www.mysql.com"><IMG SRC="images/mysql.gif" BORDER=0></A></TD>
        </TR><TR>
                <TD ALIGN=center><A HREF="http://www.perl.com"><IMG SRC="images/sourceforperl_85.gif" BORDER=0></A></TD>
                <TD ALIGN=center><A HREF="http://www.mozilla.org"><IMG SRC="images/mozilla-banner.gif" BORDER=0></A></TD>
        </TR>
        </TABLE>
        </TD>
</TR><TR BGCOLOR="#BFBFBF">
        <TD ALIGN=center>If you are interested in downloading <I>this</I> version of Bugzilla, you can from
        <A HREF="ftp://people.redhat.com/dkl">here</A>.</TD>
</TR>
</TABLE>

