<!-- start javascript -->

[+ $jscript +]

<!-- end javascript -->

[+
	if (!defined($::COOKIE{'Bugzilla_login'})) {
		$OUT = "<CENTER><B>You are currently not logged in. You may want to " .
			   "<A HREF=query.cgi?GoAheadAndLogIn=1>login</A> to use more " . 
			   "options such as stored queries or to make changes.</B></CENTER>";
	}
+]

<FORM METHOD=GET ACTION="buglist.cgi">
<TABLE WIDTH=700 BORDER=1 CELLSPACING=0 CELLPADDING=3 ALIGN=center>
<TR BGCOLOR="#CFCFCF">
    <TD ALIGN=left><B>Product Information</B></TD>
</TR><TR BGCOLOR="#ECECEC">
    <TD ALIGN=left>
    <TABLE CELLSPACING=4 CELLPADDING=0> 
    <TR>
        <TD ALIGN=left VALIGN=bottom>Program</TD>
        <TD ALIGN=left VALIGN=bottom>Version</TD>
        <TD ALIGN=left VALIGN=bottom><A HREF="describecomponents.cgi">Component</A></TD>
    </TR><TR>
        <TD ALIGN=left VALIGN=top>
<!-- start product selection -->

[+ $product_popup +]

<!-- end product selection -->
        </TD>
        <TD ALIGN=left VALIGN=top>
<!-- start version selection -->

[+ $version_popup +]

<!-- end version selection -->
        </TD>
        <TD ALIGN=left VALIGN=top>
<!-- start component selection -->

[+ $component_popup +]

<!-- end component selection -->
        </TD>
    </TR><TR>
    <TD></TD><TD></TD>
    <TD ALIGN=left VALIGN=top><INPUT TYPE=checkbox NAME=allexcept VALUE=1 >All Components <B>Except</B> Selected</TD>
    </TR>
    </TABLE>
</TR>
</TABLE>

<P>
<TABLE WIDTH=700 BORDER=1 CELLSPACING=0 CELLPADDING=3 ALIGN=center>
<TR BGCOLOR="#CFCFCF">
        <TD ALIGN=left><B>Bug State, Class, and Platform Information</B></TD>
</TR><TR BGCOLOR="#ECECEC">
        <TD ALIGN=left>
        <TABLE CELLPADDING=0 CELLSPACING=4>
        <TR> 
                <TD ALIGN=left><A HREF="bug_status.cgi">Status</A></TD>
                <TD ALIGN=left><A HREF="bug_status.cgi">Resolution</A></TD>
                <TD ALIGN=left><A HREF="bug_status.cgi#rep_platform">Platform</A></TD>
                <TD ALIGN=left><A HREF="bug_status.cgi#priority">Priority</A></TD>
                <TD ALIGN=left><A HREF="bug_status.cgi#severity">Severity</A></TD>
[+ 	
	if ($milestone_popup) {
		$OUT = "<TD ALIGN=left><A HREF=\"bug_status.cgi#milestone\">Target Milestone</A></TD>\n"; 
	}
+]
        </TR><TR>
                <TD ALIGN=left VALIGN=top>
<!-- begin bugs status selection -->

[+ $status_popup +]

<!-- end bug status selection -->
                </TD>
                <TD ALIGN=left VALIGN=top>
<!-- start resolution selection -->

[+ $resolution_popup +]

<!-- end resolution selection -->
                </TD>
                <TD ALIGN=left VALIGN=top>
<!-- start platform selection -->

[+ $platform_popup +]

<!-- end platform selection -->
                </TD>
                <TD ALIGN=left VALIGN=top>
<!-- start priority selection -->

[+ $priority_popup +]

<!-- end priority selection -->
                </TD>
                <TD ALIGN=left VALIGN=top>
<!-- start severity selection -->

[+ $severity_popup +]

<!-- end severity selection -->
        		</TD>
				<TD ALIGN=left VALIGN=top>
<!-- start targetmilestone selection -->

[+ $milestone_popup +]

<!-- end targetmilestone selection -->
				</TD>
		</TR>
        </TABLE>
        </TD>
</TR>
</TABLE>

<P>
<TABLE WIDTH=700 BORDER=1 CELLSPACING=0 CELLPADDING=3 ALIGN=center>
<TR BGCOLOR="#CFCFCF">
        <TD ALIGN=left><B>Email Information</B></TD>
</TR><TR BGCOLOR="#ECECEC">
        <TD ALIGN=left>
        <TABLE>
        <TR>
                <TD ALIGN=center>

<!-- start email selection 1 -->
[+ $emailinput1 +]
<!-- end email selection 1 -->

<!-- start email selection 2 -->
[+ $emailinput2 +]
<!-- end email selection 2 -->                

                </TD>
        </TR>
        </TABLE>
        </TD>
</TR>
</TABLE>

<P>
<TABLE WIDTH=700 BORDER=1 CELLSPACING=0 CELLPADDING=3 ALIGN=center>
<TR BGCOLOR="#CFCFCF">
    <TD ALIGN=left><B>Time Information</B></TD>
</TR><TR BGCOLOR="#ECECEC">
    <TD ALIGN=left>
    <TABLE>
    <TR>
		<TD>
		Changed in the <NOBR>last <INPUT NAME=changedin SIZE=2 VALUE=""> days.</NOBR>
		</TD>
    </TR>
    </TABLE>
    <TABLE>
    <TR>
        <TD ROWSPAN=2 ALIGN=right>Where the field(s)</TD>
        <TD ROWSPAN=2>

<!-- start chfield selection -->
[+ $chfield_popup +]
<!--end chfield selection -->

		</TD>
		<TD ROWSPAN=2>changed.</TD>
		<TD>
		<NOBR>dates <INPUT NAME=chfieldfrom SIZE=10 VALUE=""></NOBR>
		<NOBR>to <INPUT NAME=chfieldto SIZE=10 VALUE="Now"></NOBR>
		</TD>
	</TR><TR>
		<TD>changed to value <nobr><INPUT NAME=chfieldvalue SIZE=10> (optional)</NOBR>
		</TD>
    </TR>
    </TABLE>
    </TD>
</TR>
</TABLE>

<P>
<TABLE WIDTH=700 BORDER=1 CELLSPACING=0 CELLPADDING=3 ALIGN=center>
<TR BGCOLOR="#CFCFCF">
    <TD ALIGN=left><B>Text Information</B></TD>
</TR><TR BGCOLOR="#ECECEC">
    <TD ALIGN=left>
    <TABLE BORDER=0>
	<TR>

<!-- start short description selection -->
[+ $summary_popup +]
<!-- end short description selection -->

	</TR><TR>

<!-- start description selection -->
[+ $description_popup +]
<!-- end description selection -->

	</TR><TR>

<!-- start bug file selection -->
[+ $url_popup +]
<!-- end bug file selection -->

	</TR><TR>

<!-- start whiteboard selection -->
[+ $whiteboard_popup +]
<!-- end whiteboard selection -->

    </TR><TR>

<!-- start keyword selection -->
[+ $keywords_popup +]
<!-- end keyword selection -->

	</TR>
    </TABLE>
    </TD>
</TR>
</TABLE>

<P>
<TABLE WIDTH=700 BORDER=1 CELLSPACING=0 CELLPADDING=3 ALIGN=center>
<TR BGCOLOR="#CFCFCF">
        <TD ALIGN=left><B>Query Actions</B></TD>
</TR><TR BGCOLOR="#ECECEC">
		<TD ALIGN=left>

<!-- begin query selection -->
[+ $query_selection +]
<!-- end query selection -->

        <NOBR>Sort By:

<!-- begin order selection -->
[+ $sort_popup +]
<!-- end order selection -->
		
		</NOBR>
        <INPUT TYPE="submit" VALUE="Submit query">
        <INPUT TYPE="reset" VALUE="Reset back to the default query">
        <INPUT TYPE=hidden name=form_name VALUE=query>
        </FORM>
        </TD>
</TR>
</TABLE>

<P>
<TABLE BORDER=1 WIDTH=700 CELLSPACING=0 CELLPADDING=3 ALIGN=center>
<TR BGCOLOR="#CFCFCF">
        <TD ALIGN=left><B>Bugzilla Options</B></TD>
</TR><TR BGCOLOR="#ECECEC">
        <TD ALIGN=left>
        Give me a <A HREF="help.cgi">clue</A> about how to use this form.<P>

<!-- start admin menu selection -->
[+ $admin_menu +]
<!-- end admin menu selection -->

<P>

[+ 
	if (defined($::COOKIE{'Bugzilla_login'})) {
		$OUT = "<a href=relogin.cgi>Log in as someone besides <b>$::COOKIE{'Bugzilla_login'}</b> or log out.</a><br>";
		$OUT = "<a href=userprefs.cgi>Change your password or preferences.</a><br>";
	}
+]

		<a href="createaccount.cgi">Open a new Bugzilla account</a><br>
		<a href="reports.cgi">Bug reports</a><br>
        </TD>
</TR>
</TABLE>
<P>

