#searchbar .search-go-button,
#searchbar .searchbar-textbox {
	border: 0px !important;
}

.searchbar-textbox {
  height: 22px;
  width: 15em;
  margin-right: 0;
  margin-left: 0;
}

.searchbar-engine-image {
  margin: 0px 0px 0px 2px;
  height: 16px;
  width: 16px;
  list-style-image: url("chrome://global/skin/icons/folder-item.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

.searchbar-engine-button {
  min-width: 22px;
  /* margin: 0px 3px 0px 0px; <-- WORKS LTR, NOT RTL */
  margin: 0px;
  -moz-margin-end: 3px;
}

.searchbar-engine-button[addengines="true"] {
  list-style-image: url("chrome://browser/skin/Search-add-engines.png");
}

.searchbar-dropmarker-image {
  list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif");
  padding: 8px 0px 7px 20px;
}

.search-go-button {
  list-style-image: url("chrome://browser/skin/Search.png");
  padding: 0px;
  -moz-appearance: none;
  -moz-image-region: rect(0px 25px 22px 0px);
}

.search-go-button[chromedir="rtl"] {
  list-style-image: url("chrome://browser/skin/Search-rtl.png");
  padding: 0px;
  -moz-appearance: none;
  -moz-image-region: rect(0px 25px 22px 0px);
}

.search-go-button:hover,
.search-go-button:hover[chromedir="rtl"] {
  -moz-image-region: rect(0px 50px 22px 25px);
}

.search-go-button[disabled="true"],
.search-go-button[disabled="true"][chromedir="rtl"] {
  -moz-image-region: rect(0px, 75px, 22px, 50px);
}

.search-go-button:hover:active,
.search-go-button[disabled="true"][chromedir="rtl"] {
  -moz-image-region: rect(0px, 100px, 22px, 75px);
}

.searchbar-engine-menuitem[selected="true"] > .menu-iconic-text {
  font-weight: bold;
}
