/** Contains style definitions for the navigator application 
 **/

[chromehidden] { /* what to do if chrome requests you be invisible */
	display: none;
}

titledbutton#back-button {
	list-style-image:url(chrome://navigator/skin/back.gif);
}

titledbutton#forward-button {
	list-style-image:url(chrome://navigator/skin/forward.gif);
}

titledbutton#stop-button {
	list-style-image:url(chrome://navigator/skin/stop.gif);
} 

titledbutton#reload-button {
	list-style-image:url(chrome://navigator/skin/reload.gif);
}

titledbutton#search-button { 
 list-style-image:none;
 margin: 0px;
 margin-right: 2px;
 background-color: #99CCCC;
 border: 2px solid #99CCCC;
 -moz-border-radius: 4px;
} 

box#status-bar titledbutton {
     border: none;
	 padding: none;
     margin: none;
     font: inherit;
     min-width: 3em;
}

box#status-bar titledbutton:hover {
     text-decoration: none;
	 color: inherit;
}

box#status-bar titledbutton:active {
     border: none;
     padding: none;
     margin: none;
	 color: inherit;
}

box#status-bar {
   min-width: 1em;
}

toolbox#main-toolbox {
   min-width: 10px;
}

toolbox#taskbox {
   min-width: 10px;
}

toolbar.main-bar {
}

window#main-window {
}

iframe#content-frame {
 min-width: 0px;
 min-height: 0px;
}

input[type="text"]#urlbar {
   min-width: 10em;
}


/**
 * PersonalToolbar
 */
toolbar#PersonalToolbar {
	overflow: hidden;
	min-width: 10px;
    color: white;
    background-color: #003366;
    padding: 0px;
    padding-right: 0px;
    min-height: 1em;
    border: none;
}

toolbar#PersonalToolbar box#endcap {
	min-width: 69px; 
	background-image: url("chrome://navigator/skin/bmbar-bg-endcap.gif"); 
	background-repeat: no-repeat;
}

toolbar#PersonalToolbar titledbutton {
   margin: 0px;
   margin-right: 1em;
   max-width: 8em;
   font: inherit;
   font-size: smaller;
   color: #99CCCC;
   border: none;
   padding: 1px;
}

toolbar#PersonalToolbar titledbutton:hover {
   color: #CCFFFF;
}

toolbar#PersonalToolbar titledbutton.popup:hover {
   color: #CCFFFF;
   text-decoration: none;
}

toolbar#PersonalToolbar titledbutton:active {
   color: #CCFFFF;
   padding-left: 2px;
   padding-top: 2px;
   padding-right: 0px;
   padding-bottom: 0px;
}

/**
 * Navigation Toolbar
 */
toolbar#nav-bar {
	background-image: url("chrome://navigator/skin/navbar-bg.gif");
	background-repeat: repeat-x;
	background-position: 0% 0%;
	background-color: #CCCCCC;
	min-height: 39px;
	max-height: 39px;
	padding: 0px;
	padding-bottom: 4px;
}

toolbar#nav-bar box#endcap {
	min-width: 8px; 
	background-image: url("chrome://navigator/skin/navbar-endcap.gif"); 
	background-position: 0% 0%;
	background-repeat: no-repeat;
}

/**
 * removing image from toolbox
 */
:toolbox-normal {
	background-image: none;
}
