.wizard-header {
  display: none;
}

.wizard-buttons {
  display: none;
}

.wizard-page-box {
  margin: 0px;
}

.content {
  margin: 10px 44px 10px 44px;
}

link {
  -moz-binding: url("chrome://mozapps/content/update/updates.xml#link");
  -moz-user-focus: normal;
  color: blue;
  text-decoration: underline !important;
  cursor: pointer;
  border: 1px solid transparent;
}

link:hover:active {
  color: red;
}

link:focus {
  border: 1px dotted black;
}

#updateName {
  font-weight: bold;
  font-size: x-large;
}

#updateType[type=major] {
  font-weight: bold;
  color: #C00000;
}

#updateType[type=minor] {
  font-weight: bold;
  color: #FF0000;
}

#updateForMoreInfo {
  margin-left: 5px;
}

#updateImage {
  margin-right: 5px;
}

#update-info {
  border-bottom: 2px solid;
  -moz-border-bottom-colors: ThreeDFace ThreeDHighlight;
  -moz-appearance: listbox;
  margin: 10px;
  background-color: #FFFFFF;
}

#update-info-inner {
  background-color: InfoBackground;
  color: InfoText;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: start;
  padding: 7px 5px 20px 7px;
}

#updateAvailable {
  margin: 5px;
}

#alertImage {
  list-style-image: url("chrome://global/skin/icons/Warning.png");
  margin-right: 5px;
}

.action-button-box {
  margin: 7px;
}

#download-button {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

