/* Dont remove te follwing classes */

  .rsslink  {


  }

  .pagelink {


  }

  .extensions {


  }

  .timehistory {


  }

  .rsslinkFeedback  {


  }

  .pagelinkFeedback {


  }

  .extensionsFeedback {


  }

  .timehistoryFeedback {


  }

  .allFeedback {


  }


div.item {
  border-bottom:1px solid gray;
  margin:2px;    
  padding-bottom:3px;
}

div.item img {
	padding-right:3px;
 	padding-left:3px;
}

a {
  text-decoration:none;
  color:black;
}
 	 
bookmarks {
}
	
.flavor {
 float:left;
 opacity:.5;
}

body {
    padding:0px;margin:0px;
    font-family:verdana;
    font-size:80%;
    background-color:white;
}

.warning  {	
    background: url("chrome://global/skin/icons/Warning.png") no-repeat 0 0;	
    display:none; 
    font-family:verdana;
    font-size:74%;
    -moz-border-radius:6px;
    border:1px solid black;
    background-color:#ffffff;
    padding:.5em;
    padding-left:36px;
    margin:.5em;
}

.header  {	
    background-color:rgb(229,96,10);
    padding:2px;
    padding-top:4px;
    position:fixed;
    top:0px;
    width:100%;
    padding-bottom:4px;
}

.header-icons {
    width:24px;
    height:24px;
}

.header td {
  padding-right:3px; 
  font-weight:bold;
  padding-left:3px;
}

#container {
   margin-top:5em;
}

.header a {
  text-decoration:none;
}

.header a:hover {
  color:white;
}