.bold {
  font-weight: bold;
}

#downloadManager {
  background-color: ThreeDFace;
}

#downloadView {
  background-color: Window;
  padding: 0px;
  margin: 10px;
  -moz-appearance: listbox;
}

#commandBar {
  padding: 0px 10px 10px 10px;
}

download {
  padding: 13px 10px 13px 13px;
  min-height: 25px;
  border-bottom: 1px dotted #C0C0C0;
  background-image: url("chrome://mozapps/skin/downloads/viewFader.png");
}

download[state="0"], download[state="-1"] {
  background-color: Window;
  background-image: none;
}

#downloadHistoryView > treechildren::-moz-tree-image(Name) {
  margin-right: 2px;
}

.indented {
  margin-left: 17px;
  margin-right: 17px;
}

listcell {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
}

.link {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
  -moz-user-focus: normal;
  border: 1px solid transparent;
}

.link:hover:active {
  color: red;
}

.link:focus {
  border: 1px dotted black;
}

.progressField {
  width: 2.2em;
  text-align: right;
}

#download-splitter {
  border: none;
  border-bottom: 1px solid ThreeDLightShadow;
  -moz-appearance: toolbox;
}

#close-button {
  list-style-image: url("chrome://global/skin/icons/Close.gif");
}

#clearAllButton {
   font-size: x-small;
}

