/* Dont remove te follwing classes */



  .rsslink  {


  }

  .pagelink {


  }

  .extensions {


  }

  .timehistory {


  }

  .rsslinkFeedback  {


  }

  .pagelinkFeedback {


  }

  .extensionsFeedback {


  }

  .timehistoryFeedback {


  }

  .allFeedback {


  }

bookmarks {

	overflow:hidden;
	overflow-y:auto;
    background-color:white; 
}

body {
    background: transparent url(chrome://minimo/skin/tab-middle-bkgnd.png) 0 0 repeat-x fixed;

    padding:4px;margin:0px;
    font-family:verdana;
    font-size:80%;
 



}


div.item {
	border-bottom:1px solid gray;
 	margin:2px;
      overflow:hidden;
      padding-bottom:3px;
}

div.item img {
	padding-right:3px;
 	padding-left:3px;
}

a {
  text-decoration:none;
  color:black;
  line-height:1.3em;
  font-size:1em;
}
 	 
a:focus {

  line-height:1.3em;
  font-size:1.1em;
  font-weight:bold;

}


	
.flavor {

 float:left;
 opacity:.5;

}



.warning  {	
    background: url("chrome://global/skin/icons/Warning.png") no-repeat 0 0;	
    display:none; 
    font-family:verdana;
    font-size:74%;
    -moz-border-radius:6px;
    border:1px solid black;
    background-color:#ffffff;
    padding:.5em;
    padding-left:36px;
    margin:.5em;
}

.header-icons {
    width:18px;
    height:18px;
}

.header td {
   padding-right:3px; 
     font-weight:bold;

   padding-left:3px;
}

#container2 {


}

.timehistory {



}

.header a {
  text-decoration:none;

}

.header a:hover {
  color:white;
}