var err = initInstall("Quality Feedback Agent", "Quality Feedback Agent", "@XPI_VERSION@"); 
logComment("initInstall: " + err);

if (err==SUCCESS)
{
    err = performInstall(); 
    logComment("performInstall() returned: " + err);
}
else
{
    cancelInstall(err);
    logComment("cancelInstall() returned: " + err);
}
