.xkey {
     border:1px solid cccccc;
     margin:2px;
     min-width:12px;
     font-size:16px;
       line-height:32px;
       padding:3px;
       letter-spacing:4px;
       text-shadow:3px 3px 5px red;
       vertical-align: text-bottom;
       background-color:white;
       font-weight:bold;
} 