.xkey {
     border:1px solid #cccccc ! important;
     margin:2px ! important;
     min-width:12px ! important;
     font-size:16px ! important;
     padding:3px ! important;
     letter-spacing:4px ! important;

     vertical-align: text-bottom ! important;
     background-color:white ! important;
     font-weight:bold ! important;
} 